body {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.row {
    color: white
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}




    