body {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.row {
    color: white;
}

#todo {
    background-color: rgba(68, 66, 66, 0.3)
}


.btn {
    color: white
}

#weather {
    background-color: rgba(8, 8, 8, 0.1)
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(8, 8, 8, 0.08)
}










    